fastapi
pillow
torchvision
torch
ultralytics
opencv-python-headless
numpy
pyyaml
motor
uvicorn
pydantic
pymongo
openai
ultralytics
httpx

langchain
langchain_community
tiktoken
langchainhub
langgraph
tavily-python
gpt4all
marker-pdf
markdown
unstructured
langchain-chroma
unstructured
markdown

chromadb