fastapi
pillow
torchvision
torch
ultralytics
opencv-python-headless
numpy
pyyaml
motor
uvicorn
pydantic
pymongo
motor
httpx

langchain
langchain_community
tiktoken
langchainhub
langchain_mongodb
langgraph
tavily-python
gpt4all
marker-pdf
markdown
unstructured
langchain-chroma
unstructured
markdown

chromadb
sentence-transformers
unstructured